// https://colorpalettes.net/color-palette-4221/

@import "~normalize.css";

@import "_variables";

html {
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}


body {
  background: $wtf;
  font-family: 'Lato', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

