// https://colorpalettes.net/color-palette-4221/

@import "~normalize.css";

@import "_variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background: $light;
  font-family: $font-family;
  color: $light-dark;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.recipe-form {

  background: #fff;
  width: 100%;
  padding: 20px 10px;

  @media (min-width: $brakepointLarge) {
    width: 800px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    align-self: start;
    margin-top: 30px;
  }
}

.header {
  padding: 5px;
  background-image: linear-gradient(340deg, $dark-green 0%, $light-green 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $brakepointLarge) {
    padding: 20px;
    border-radius: 5px 5px 0 0;
  }

  &__heading {
    color: $light;
    padding: 0;
    margin: 10px 30px;
    font-size: 25px;

    @media (min-width: $brakepointLarge) {
      font-size: 60px;
    }
  }

  &__logo {
    width: 60px;
    height: 60px;

    @media (min-width: $brakepointLarge) {
      width: 100px;
      height: 100px;
    }
  }
}

.ingredients-list {
  list-style: none;
  padding: 0;

  &__ingerdient-summary {
    grid-column: 1 / span 5;
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr;

    @media (min-width: $brakepointMedium) {
      grid-template-columns: 140px 1fr 1fr 1fr 35px;
      column-gap: 10px;
    }

    // @media (min-width: $brakepointLarge) {
    //   grid-template-columns: 140px 1fr 1fr 1fr 35px;
    //   column-gap: 10px;
    // }
  }

  &__item {
    display: grid;
    grid-template-columns: 35px 50px 35px 1fr 35px;
    column-gap: 5px;
    margin: 10px 0;

    @media (min-width: $brakepointLarge) {
      column-gap: 10px;
    }
  }
}

.input {
  padding: 5px;
  border-color: $light;
  border-radius: 5px;
  margin: 0;

  &--recipe-name {
    width: 100%;
  }

  &--recipe-note {
    width: 100%;
    margin-bottom: 20px;
    border-color: $light-dark;
  }

  &--select {
    display: inline-block;
  }
}

.recipe {
  margin-bottom: 10px;
  position: relative;
  padding-top: 115px;

  &__label {
    margin-top: 0;
    font-size: 18px;
  }

  &__name-error {
    margin-top: 0;
    color: red;
    font-size: 13px;
  }

  &__ingredients-error {
    color: red;
    font-size: 13px;
  }
}


.summary {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__macro {
    text-align: center;
    background-color: $light-green;
    padding: 10px;
    color: #fff;

    &--energy-ratio {
      display: flex;
      justify-content: space-between;
      grid-column: 1 / 4;
    }
  }

  &__header {
    margin: 0;
  }

  &--fixed {
    position: fixed;
    z-index: 99;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.recipe-list {
  margin-top: 32px;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
    align-items: start;

    @media (min-width: $brakepointMedium) {
      grid-template-columns: 1fr 1fr;

    }
  }
}

.recipe-list-item {
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
  background-color: #fff;
  padding: 10px;

  &__header {
    margin: 0;
    padding: 8px 0;
    color: $light-green;
    font-size: 18px;
    text-align: center;
  }

  &__macro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
  }

  &__buttons-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__ingredients-header {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__ingredients-list {
    margin-top: 5px;
    font-size: 14px;
  }

  &__note-header {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__note-content {
    font-size: 14px;
    margin-top: 5px;
  }
}

.hidden {
  display: none;
}

.ss-main .ss-single-selected {
  height: auto;
}

.ss-main .ss-single-selected .placeholder,
.ss-main .ss-single-selected .placeholder * {
  white-space: normal;
}